@import "https://fonts.googleapis.com/css?family=Exo:400,700";

html *{
    font-family: "Exo", sans-serif;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.header{
    background: rgb(204, 174, 174);
    display: flex;
    text-align: center;

    position: fixed;
    top:0;
    width: 100%;
    height: auto;
}


.header-img{
    width: 60px;
    height: 60px;
}

.container2{
    margin-top: 80px;
    display: flex; 
    
}

.filters{
    background: aquamarine;
    height: 100%;
    flex:0.5;
}
input:checked ~ span {
    font-weight: bold;
}

.data{
    margin-left: 4em;
    background: rgb(172, 141, 230);
    flex:1.5;
} 

/* data table */


table {
    /* padding-right:1em;
    flex:1; */
    text-align: center;
    display: block;
  height: 250px;
  overflow: auto;
}

table tbody{
     display: block;
    /*overflow:auto;
  height:200px;
  width:100%;*/
} 
table thead{
    /* position: fixed; */
    display: block
    /* display: table-header-group; */
}

table td,th {
    
    border-bottom: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
}

/* pagination */
.pagination{
    display: flex;
    width: 300px;
    text-align: center;
    background-color: rgb(252, 238, 238);
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}
.pagination a{
    text-decoration: none;
    width: 30px;
    line-height: 30px;
    color: #404040;
    flex:1;
}

.pagination a:hover{
    color: rgb(247, 73, 73);
}