@import "https://fonts.googleapis.com/css?family=Exo:400,700";

html *{
    font-family: "Exo", sans-serif;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.header{
    background: rgb(204, 174, 174);
    display: flex;
    text-align: center;

    position: fixed;
    top:0;
    width: 100%;
    height: auto;
}


.header-img{
    width: 60px;
    height: 60px;
}

.container2{
    margin-top: 80px;
    display: flex; 
    
}

.filters{
    background: aquamarine;
    height: 100%;
    flex:0.5;
}
input:checked ~ span {
    font-weight: bold;
}

.data{
    min-width: 0
    /* flex:1.5; */
}  

/* data table */

table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
    display: block;
}
thead {
    background-color: #EFEFEF;
}
thead, tbody {
    display: block;
}
tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}
td, th {
    min-width: 150px;
    height: 25px;
    border: dashed 1px lightblue;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

/* pagination */
/* .pagination{
    display: flex;
    width: 300px;
    text-align: center;
    background-color: rgb(252, 238, 238);
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}
.pagination a{
    text-decoration: none;
    width: 30px;
    line-height: 30px;
    color: #404040;
    flex:1;
}

.pagination a:hover{
    color: rgb(247, 73, 73);
} */