@import "https://fonts.googleapis.com/css?family=Exo:400,700";

html *{
    font-family: "Exo", sans-serif;
    
}
body{
    margin: 0;
    padding: 0;
}

.container1{
    overflow: hidden;
}

/* Header Part */
.header{
    background: rgb(247, 171, 171);
    overflow: hidden;
    width: 100%;
}

#title{
    display: inline-block;
    height: 60px;
}
#title h2{
    margin-top: 10px;
}

#header-img{
    vertical-align: middle;
    float: left;
    width: 60px;
    height: 60px;
}

/* Data part */
.container2{
    display: flex; 
}

.filters{
    padding: 1em;
    width: 300px;
    min-width: 300px;
    min-height: 200vh;
    background: aquamarine;
    height: 100%;
    flex:0.5;
}

label{
    display: block;
}


input:checked ~ span {
    font-weight: bold;
}

.data{
    min-width: 0;
    margin-left: 1em;
    /* flex:1.5; */
}  

/* data table */
table {
    text-align: center;
}
thead {
    background-color: rgb(92, 89, 89);
}
thead, tbody {
    display: block;
}

td, th {
    min-width: 140px;
    height: 25px;
    word-wrap: break-word;
    max-width: 140px;
}
tr.detail-view{
    text-align: left;
}
thead tr th:first-child,
tbody tr td:first-child {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  word-break: break-all;
}

.fk-col{
    color: rgb(152, 152, 219);
}

.tb_title{
    overflow: hidden;
    text-align: center;
}
.tb_title h3{
    display: block;
}
/* load more button and submit button */
#submit_btn{
    margin-top: 0.2em;
}
.loadMoreBtn{
    display: none;
    margin-bottom: 0.2em;
    float: left;
}

/* map */
.map{
    padding-top: 1em;
    height: 600px;
    width: 100%;
}
/* pagination */
